<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<master auto="start"/>

	<node pkg="motion_analysis" type="motion_analysis" respawn="false" name="motion_analysis" output="screen">
		<rosparam file="$(find motion_analysis)/config/parameters_conf.yaml" command="load" />
	</node>

	<node pkg="motion_analysis" type="conf.py" respawn="false" name="conf" output="screen">
		<rosparam file="$(find motion_analysis)/config/parameters_conf.yaml" command="load" />
	</node>
</launch>
